@charset "utf-8";
h2 {
	display: none;
}
h3 {
	text-align: center;
	background: #dba958;
	padding: 10px 20px;
	margin: 0 auto;
	color: #fff;
	width: 80px;
}
main {
	color: #dba958;
}
.co_main {
	display: flex;
	align-items: center;
	max-width: 900px;
	margin: 0px auto 20px auto;
	gap: 30px;
	text-shadow: 0.4px 0.5px 0px rgba(92, 77, 77, 0.6);
}
.co_main p {
	/*margin-left: 20px;margin-right: 20px;*/
	max-width: 100%;
	height: auto;
}
.co_main p:first-child {
	flex: 0 0 50%;
}
/*main p iframe {
	max-width: 100%;
	height: auto;
}*/
.co_text {
	margin: 20px auto 20px auto;
	max-width: 650px;
	text-shadow: 0.4px 0.5px 0px rgba(92, 77, 77, 0.6);
}
.map-wrapper {
	position: relative;
	width: 100%;
	max-width: 800px;
	/*padding-bottom: 62.5%;
	height: 0;*/
	margin: 0 auto;
}
.map-wrapper iframe {
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
	border: none;
	margin-top: 20px;
	margin-bottom: 30px;
}
@media (max-width: 600px) {
	main {
		max-width: 400px;
		margin: 0 auto;
	}
	.co_main {
		flex-direction: column;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
	}
	h3 {
		margin-top: 40px;
	}
	.info {
		grid-template-columns: 1fr;
	}
	.info.gridArea {
		margin: 0 auto;
	}
}