@charset "utf-8";
h2 {
	display: none;
}
main {
	color: #dba958;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.co_main {
	display: flex;
	align-items: center;
	max-width: 900px;
	margin: 0px auto;
}
.co_main p {
	margin-left: 40px;
	max-width: 100%;
	height: auto;
}
/*main p iframe {
	max-width: 100%;
	height: auto;
}*/
.co_text {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 650px;
}

.map-wrapper {
	position: relative;
	width: 100%;
	max-width: 800px;
	/*padding-bottom: 62.5%;
	height: 0;*/
	margin: 0 auto;
}
.map-wrapper iframe {
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
	border: none;
	margin-top: 30px;
	margin-bottom: 30px;
}
@media (max-width: 600px) {
	.co_main {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 600px) {
	.info {
		grid-template-columns: 1fr;
	}
	.info.gridArea {
		margin: 0 auto;
	}
}