@charset "utf-8";
h2 {
	width: 80px;
}
.mv {
	position: relative;
	display: block;
	max-width: 2000px;
	margin: 0 auto;
}
.mv-text {
	position: absolute;
	top: 2%;
	left: 17%;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4); 
	font-size: 1.25rem;/* 20px */
	max-width: 900px;
}
main dl {
	max-width: 600px;
	margin: 20px auto;
	color: #dba958;
	text-shadow: 0.4px 0.5px 0px rgba(92, 77, 77, 0.6);
	font-size: 1.25rem;/* 20px */
}
main dl dt {
	display: inline-block;
	/*border-bottom: solid #dba958 2px;*/
	font-weight: bold;
}
main dl dd {
	padding-bottom: 1em;
}
.banner {
	display: flex;
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	justify-content: space-between;
}
@media (max-width: 900px) {
	.mv-text {
	position: absolute;
	top: 2%;
	left: 4%;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4); 
	font-size: 1.125rem;/* 18px */
	max-width: 900px;
	}
}
@media (max-width: 600px) {
	.mv-text {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4); 
	font-size: 0.875rem;
	}
	main dl {
	font-size: 0.875rem;
	max-width: 400px;
	margin: 20px auto;
	}
	.banner {
	flex-direction: column;
	width: 90%;
	text-align: center;
	gap: 20px;
	}
	.banner p {
		gap: 20px;
	}
}